<div class="page-header-main" style="margin: -5px 0px 10px; border-bottom: 1px solid #2095F3; padding: 10px 0;">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto col-auto">
      <div class="content-header px-2">
        <h1>{{"Product List" | translate}}</h1>
      </div>
    </div>
    <div class="col-md-auto col-sm-auto col-auto mr-2">
      <button class="btn blue-btn btn-sm m-right-10" [routerLink]="['/products','addbulkproduct']">
        <i class="fas fa-plus"></i> {{"Upload Bulk Inventory" | translate}}
      </button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-12">
    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="filterList()">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Source Name</th>
            <th>WSN</th>
            <th>WID</th>
            <th>FSN</th>
            <th>SKU</th>
            <th>Listing ID</th>
            <th>Order ID</th>
            <th>QCremark</th>
            <th>Grade</th>
            <th>ProductTitle</th>
            <th>HSN_SAC</th>
            <th>IGSTrate</th>
            <th>FSP</th>
            <th>MRP</th>
            <th>Rejected</th>
            <th>PI_Date</th>
            <th>FktLink</th>
            <th>Wh_Locatin</th>
            <th>Brand</th>
            <th>Vertical</th>
            <th>Cat_type</th>
            <th>Area</th>
            <th>Dest_Location</th>
            <th>Vrp</th>
            <th>BatchNumber</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredList" [ngClass]="{ 'edited-row': item.editable }">
            <td>
              <div class="dropdown" *ngIf="!item.editable">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="actionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="actionDropdown">
                  <a class="dropdown-item" (click)="editProduct(item, $event)">Edit</a>
                  <a class="dropdown-item" (click)="deleteProduct(item)">Delete</a>
                </div>
              </div>
              <div *ngIf="item.editable">
                <button class="btn btn-primary btn-sm" (click)="UpdateDate(item)">
                  Update
                </button>
              </div>
            </td>
            <td><input type="text" [(ngModel)]="item.sourceName" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.wsn" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.wid" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.fsn" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.sku" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.listingID" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.orderID" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.qCremark" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.grade" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.productTitle" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.hsN_SAC" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.igsTrate" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.fsp" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.mrp" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.rejected" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.pI_Date" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.fktLink" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.wh_Locatin" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.brand" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.vertical" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.cat_type" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.area" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.dest_Location" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.vrp" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.batchNumber" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
            <td><input type="text" [(ngModel)]="item.category" [readonly]="!item.editable" [ngClass]="{'no-border-input': !item.editable, 'editable-input': item.editable}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



