
.rounded-button {
  border-radius: 10px;
}

.block {
  font-weight: bolder;
  margin-right: 30px;
}

.role-drp {
  display: grid;
}
.rackna{
    margin-bottom:50px;
    margin-top:45px;
}
.des {
  margin-right: 30px;
}
